*{
    margin: 0vh;
    padding: 0vh;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.google{
    width: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(233, 233, 255);
}

form{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

h2{
    text-align: center;
    font-size: 4vh;
}

.fill{
    font-size: 13px;
    color: rgb(34, 34, 34);
}

.emailtext{
    width: 40vh;
    height: 5vh;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: lightgray;
}